.surface {
  --font-secondary: #222;
  --control: #ebebeb;
  --control-brightness: 0;

  padding: 60px 0 60px 120px;
  margin: 0;
  position: relative;
  display: grid;
  gap: 50px;

  &__title {
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 55px;
    line-height: 60px;
    letter-spacing: -0.5px;
  }

  &__description {
    padding: 0 0 30px 0;
    margin: 0;
    max-width: 460px;
    font-size: 18px;
    line-height: 28px;
    color: var(--font-secondary);
    opacity: 0.7;

    grid-row: 2;
  }

  &__gallery {
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    gap: 40px;

    &_img-main {
      padding: 0;
      margin: 0;
    }

    &_img-secondary {
      padding: 0;
      margin: 0;
    }

    &_pulse {
      padding: 0;
      margin: 0;
      width: 100px;
      height: 40px;
      position: absolute;
      display: flex;
      bottom: 16px;
      background-image: url(../../images/surface/gallery-pulse.svg);
      background-repeat: no-repeat;
      background-size: contain;
      align-items: center;
    }

    &_pulse-line {
      padding: 0;
      margin: 0 0 0 16px;
      width: 50px;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      &_highway {
        background-image: url(../../images/surface/gallery-pulse_highway.svg);
      }

      &_dirt {
        background-image: url(../../images/surface/gallery-pulse_dirt.svg);
      }

      &_tt {
        background-image: url(../../images/surface/gallery-pulse_tt.svg);
      }
    }
  }

  &__controls {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
  }

  &__control {
    padding: 0;
    margin: 0;
    width: 50px;
    height: 50px;
    display: flex;
    border: none;
    outline: none;
    background-color: var(--control);
    border-radius: 9999px;
    cursor: pointer;
    transition: opacity ease-in-out 0.3s;

    &:hover {
      opacity: 0.6;
    }

    &_next::after {
      padding: 0;
      margin: 0 auto;
      content: '';
      height: 18px;
      width: 10px;
      align-self: center;
      justify-self: center;
      background-image: url(../../images/surface/gallery-control_next.svg);
      background-size: contain;
      filter: brightness(var(--control-brightness));
    }

    &_previous::after {
      padding: 0;
      margin: 0 auto;
      content: '';
      height: 18px;
      width: 10px;
      align-self: center;
      justify-self: center;
      background-image: url(../../images/surface/gallery-control_previous.svg);
      background-size: contain;
      filter: brightness(var(--control-brightness));
    }
  }
}

@media screen and (max-width: 1024px) {
  .surface {
    padding: 0 0 50px 0;
    margin: 0 18px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-top: 1px solid #e3e3e3;

    &__title {
      padding: 38px 0 0;
      font-size: 32px;
      line-height: 40px;
    }

    &__description {
      font-size: 12px;
      line-height: 18px;
    }

    &__gallery {
      &_img-main {
        width: 100%;
      }

      &_img-secondary {
        display: none;
      }

      &_pulse {
        width: 70px;
        height: 28px;
      }

      &_pulse-line {
        margin: 0 0 0 10px;
        width: 35px;
      }
    }

    &__controls {
      position: absolute;
      top: 47px;
      right: 0;
      gap: 10px;
    }

    &__control {
      width: 24px;
      height: 24px;

      &_next::after {
        height: 10px;
        width: 5px;
      }

      &_previous::after {
        height: 10px;
        width: 5px;
      }
    }
  }
}
