.surface {
  --font-secondary: #222;
  --control: #ebebeb;
  --control-brightness: 0;
  padding: 60px 0 60px 120px;
  margin: 0;
  position: relative;
  display: -ms-grid;
  display: grid;
  gap: 50px;
}

.surface__title {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 55px;
  line-height: 60px;
  letter-spacing: -0.5px;
}

.surface__description {
  padding: 0 0 30px 0;
  margin: 0;
  max-width: 460px;
  font-size: 18px;
  line-height: 28px;
  color: var(--font-secondary);
  opacity: 0.7;
  -ms-grid-row: 2;
  grid-row: 2;
}

.surface__gallery {
  padding: 0;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.surface__gallery_img-main {
  padding: 0;
  margin: 0;
}

.surface__gallery_img-secondary {
  padding: 0;
  margin: 0;
}

.surface__gallery_pulse {
  padding: 0;
  margin: 0;
  width: 100px;
  height: 40px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 16px;
  background-image: url(../../images/surface/gallery-pulse.svg);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.surface__gallery_pulse-line {
  padding: 0;
  margin: 0 0 0 16px;
  width: 50px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.surface__gallery_pulse-line_highway {
  background-image: url(../../images/surface/gallery-pulse_highway.svg);
}

.surface__gallery_pulse-line_dirt {
  background-image: url(../../images/surface/gallery-pulse_dirt.svg);
}

.surface__gallery_pulse-line_tt {
  background-image: url(../../images/surface/gallery-pulse_tt.svg);
}

.surface__controls {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.surface__control {
  padding: 0;
  margin: 0;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  outline: none;
  background-color: var(--control);
  border-radius: 9999px;
  cursor: pointer;
  -webkit-transition: opacity ease-in-out 0.3s;
  transition: opacity ease-in-out 0.3s;
}

.surface__control:hover {
  opacity: 0.6;
}

.surface__control_next::after {
  padding: 0;
  margin: 0 auto;
  content: '';
  height: 18px;
  width: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  background-image: url(../../images/surface/gallery-control_next.svg);
  background-size: contain;
  -webkit-filter: brightness(var(--control-brightness));
          filter: brightness(var(--control-brightness));
}

.surface__control_previous::after {
  padding: 0;
  margin: 0 auto;
  content: '';
  height: 18px;
  width: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  background-image: url(../../images/surface/gallery-control_previous.svg);
  background-size: contain;
  -webkit-filter: brightness(var(--control-brightness));
          filter: brightness(var(--control-brightness));
}

@media screen and (max-width: 1024px) {
  .surface {
    padding: 0 0 50px 0;
    margin: 0 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
    border-top: 1px solid #e3e3e3;
  }
  .surface__title {
    padding: 38px 0 0;
    font-size: 32px;
    line-height: 40px;
  }
  .surface__description {
    font-size: 12px;
    line-height: 18px;
  }
  .surface__gallery_img-main {
    width: 100%;
  }
  .surface__gallery_img-secondary {
    display: none;
  }
  .surface__gallery_pulse {
    width: 70px;
    height: 28px;
  }
  .surface__gallery_pulse-line {
    margin: 0 0 0 10px;
    width: 35px;
  }
  .surface__controls {
    position: absolute;
    top: 47px;
    right: 0;
    gap: 10px;
  }
  .surface__control {
    width: 24px;
    height: 24px;
  }
  .surface__control_next::after {
    height: 10px;
    width: 5px;
  }
  .surface__control_previous::after {
    height: 10px;
    width: 5px;
  }
}
/*# sourceMappingURL=surface.css.map */