.surface__gallery_pulse-line_tt {
  padding: 0;
  margin: 0 0 0 16px;
  width: 50px;
  height: 100%;
  background-image: url(../../../../images/surface/gallery-pulse_tt.svg);
  background-repeat: no-repeat;
  background-position: center;
}
