.overlay {
  padding: 0;
  margin: 0;

  position: sticky;
  top: 347px;
  height: calc(100% + 79px);

  display: flex;
  justify-content: center;

  z-index: 100;

  &__content {
    padding: 20px 50px;
    margin: 0 0 0 260px;
    width: 340px;
    height: 260px;
    background-color: #f4f4f4;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
  }
}

@media screen and (max-width: $breakpoint) {
  .overlay {
    justify-content: flex-start;
    position: absolute;
    top: 386px;
    left: 18px;
    height: auto;

    &__content {
      padding: 10px 26px;
      margin: 0;
      width: 180px;
      height: 138px;
    }
  }
}
