.bycicles {
  padding: 60px 120px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 120px;

  &__heading {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 55px;
    line-height: 60px;
    letter-spacing: -0.5px;
  }

  &__type-list {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 40px;
    list-style-type: none;
    align-items: flex-end;
  }

  &__type {
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 28px;
    color: #222;
    cursor: pointer;
    opacity: 0.7;

    &:hover {
      opacity: 0.6;
    }

    &_active {
      padding: 0;
      margin: 0;
      font-weight: 600;
      color: inherit;
      opacity: 1;
    }
  }

  &__displays {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
    list-style-type: none;
  }

  &__link {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }

  &__display {
    padding: 0;
    margin: 0;

    &_img {
      padding: 20px;
      margin: 0;
      width: 340px;
      height: 340px;
      background-color: #f4f4f4;
      box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.08);
      border-radius: 20px;
    }

    &_caption {
      padding: 20px 0 0 6px;
      margin: 0;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      text-decoration: none;
    }
  }
}
