.proposition {
  padding: 120px 120px 60px 120px;
  margin: 0;
  display: flex;
  gap: 80px;

  &__quote {
    padding: 0 0 4px 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__saying {
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-size: 34px;
    line-height: 44px;
    letter-spacing: -0.5px;
  }

  &__author {
    padding: 0;
    margin: 0;

    &_name {
      padding: 0 0 8px 0;
      margin: 0;
      font-weight: 500;
      font-size: 20px;
      line-height: 32px;
    }

    &_occupation {
      padding: 0;
      margin: 0;
      font-size: 16px;
      line-height: 28px;
      color: #222;

      opacity: 0.7;
    }
  }

  &__image {
    padding: 0;
    margin: 0;
  }
}
