@import '../variables/variables.scss';

.proposition {
  --font-secondary: #222;

  padding: 120px 120px 60px 120px;
  margin: 0;
  display: flex;
  gap: 80px;

  &__quote {
    padding: 0 0 4px 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__saying {
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-size: 34px;
    line-height: 44px;
    letter-spacing: -0.5px;
  }

  &__author-sign {
    padding: 0;
    margin: 0;
  }

  &__author-name {
    padding: 0 0 8px 0;
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
  }

  &__author-occupation {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 28px;
    color: var(--font-secondary);

    opacity: 0.7;
  }

  &__image {
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width: 1024px) {
  .proposition {
    padding: 0 0 80px 0;
    margin: 0 18px;
    flex-direction: column;
    border-top: $border-top;
    gap: 40px;

    &__image {
      padding: 20px 0 0;
    }

    &__saying {
      font-size: 23px;
      line-height: 29px;
    }

    &__quote {
      gap: 40px;
    }

    &__author-name {
      padding: 0 0 4px 0;
      font-size: 14px;
      line-height: 22px;
    }

    &__author-occupation {
      font-size: 10px;
      line-height: 16px;
    }
  }
}
