.training {
  padding: 150px 120px 120px 120px;
  margin: 0;

  display: grid;
  grid-template-columns: 460px max-content;
  grid-template-rows: repeat(2, min-content) 1fr;
  row-gap: 50px;
  column-gap: 160px;
}
