.training {
  --font-secondary: #222;

  padding: 150px 120px 120px 120px;
  margin: 0;

  display: grid;
  grid-template-columns: minmax(284px, 460px) minmax(0, 250px) max-content;
  grid-template-rows: repeat(2, min-content) 1fr;
  row-gap: 50px;
  column-gap: 160px;

  &__title {
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 55px;
    line-height: 60px;
    letter-spacing: -0.5px;

    grid-column: 1;
    grid-row: 1;
  }

  &__description {
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 28px;
    color: var(--font-secondary);
    opacity: 0.7;

    grid-column: 1;
    grid-row: 2;
  }

  &__image {
    padding: 0;
    margin: 0;

    grid-column: 2;
    grid-row: 1 / span 3;
  }

  &__links {
    padding: 0 0 4px 0;
    margin: 0;
    display: flex;
    gap: 30px;
    list-style-type: none;

    grid-column: 1;
    grid-row: 3;

    align-items: flex-end;
  }

  &__link {
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: inherit;
    text-decoration: none;
    transition: opacity ease-in-out 0.3s;

    &:hover {
      opacity: 0.75;
    }
  }
}

@media screen and (max-width: 1024px) {
  .training {
    padding: 0 0 57px 0;
    margin: 0 18px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-top: 1px solid #e3e3e3;

    &__title {
      padding: 40px 0 0;
      font-size: 32px;
      line-height: 40px;
    }

    &__description {
      font-size: 12px;
      line-height: 18px;
    }

    &__link {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
