.surface__gallery_pulse {
  padding: 0;
  margin: 0;
  width: 100px;
  height: 40px;
  position: absolute;
  display: flex;
  bottom: 16px;
  background-image: url(../../../../images/surface/gallery-pulse.svg);
  background-repeat: no-repeat;
  align-items: center;
}
