.training__link {
  padding: 0;
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #151515;
  text-decoration: none;
  transition: opacity ease-in-out 0.3s;
}

.training__link:hover {
  opacity: 0.75;
}
