.footer {
  --background-color: #efefef;
  --theme-switch: white;
  --copyright: #cfcfcf;
  --control-brighness: 0;
  --icon-sun: url(../../images/theme_sun_light.svg);
  --icon-moon: url(../../images/theme_moon_light.svg);
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer__container {
  padding: 80px 120px 60px 120px;
  margin: 0 auto;
  position: relative;
  max-width: 1200px;
}

.footer__form {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__form_container {
  padding: 0;
  margin: 50px 0 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}

.footer__form_fieldset {
  padding: 0;
  margin: 0;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__form_email {
  padding: 0 0 0 20px;
  margin: 0;
  width: 360px;
  height: 50px;
  font-weight: 500;
  font-size: 13px;
  line-height: 28px;
  color: inherit;
  border: 1px solid rgba(199, 199, 199, 0.5);
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.7;
}

.footer__form_email:hover {
  opacity: 1;
}

.footer__form_email:focus {
  border: 1px solid #c7c7c7;
  cursor: default;
  opacity: 1;
}

.footer__form_submit {
  margin: 0;
  padding: 0;
  width: 16px;
  height: 28px;
  position: absolute;
  top: 11px;
  right: 22px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.footer__subscribe {
  padding: 0;
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.footer__copyright {
  padding: 100px 0 0;
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: var(--copyright);
}

.footer__theme-picker {
  padding: 0;
  margin: 0;
  position: absolute;
  right: 114px;
  bottom: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 22px;
}

.footer__theme-switch {
  padding: 0;
  margin: 0;
  width: 44px;
  height: 24px;
  position: relative;
  background-color: var(--theme-switch);
  border: none;
  outline: none;
  border-radius: 9999px;
  cursor: pointer;
  -webkit-transition: background-color ease-in-out 0.3s;
  transition: background-color ease-in-out 0.3s;
}

.footer__theme-switch_plug {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2px;
  background-color: #24b47e;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
          box-shadow: 0px 0px 0px #ffffff;
  border-radius: 9999px;
}

.footer__icon_sun {
  padding: 0;
  margin: 0;
  width: 28px;
  height: 28px;
  background-image: var(--icon-sun);
  background-repeat: no-repeat;
}

.footer__icon_moon {
  padding: 0;
  margin: 0;
  width: 28px;
  height: 28px;
  background-image: var(--icon-moon);
  background-repeat: no-repeat;
}

.footer__logo {
  padding: 0;
  margin: 0;
  display: none;
  position: absolute;
  right: 18px;
  bottom: 18px;
  width: 38px;
  height: 38px;
  background-image: url(../../images/logo.png);
}

@media screen and (max-width: 1024px) {
  .footer__container {
    padding: 60px 0 25px 0;
    margin: 0 18px;
  }
  .footer__form {
    width: 100%;
  }
  .footer__form_container {
    margin: 37px 0 0;
    width: 100%;
  }
  .footer__form_fieldset {
    width: 100%;
  }
  .footer__form_email {
    width: 100%;
  }
  .footer__theme-picker {
    display: none;
  }
  .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=footer.css.map */